/* === BASE COLOR === */
:root {
  --clr-black: #2f3136;
  --clr-pink: #eb2f96;
  --clr-ungu: #7b61ff;
  --clr-biru: #2f54eb;
  --clr-hijau: #52c41a;
  --clr-abu: #b7bdc9;

  --clr-bg-pink: #fff9fb;
  --clr-bg-ungu: #fcfafd;
  --clr-bg-biru: #f7faff;
  --clr-bg-hijau: #f8fef1;

  --clr-bg2-pink: #fff0f6;
  --clr-bg2-ungu: #f9f0ff;
  --clr-bg2-biru: #f0f5ff;
  --clr-bg2-hijau: #f6ffed;

  --clr-border-pink: #ffadd2;
  --clr-border-ungu: #d3adf7;
  --clr-border-biru: #adc6ff;
  --clr-border-hijau: #b7eb8f;
  --clr-border-abu: #e4e4e8;

  --clr-prog-abu: #f5f5f5;

  --clr-bar-hijau: #52c41a;
  --clr-bar-biru: #1890ff;
}

/* === BASE STYLE === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "font-regular";
}

/* === BASE FONT === */
/* === BASE FONTS === */
@font-face {
  font-family: "font-black";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "font-xbold";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "font-bold";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
  font-family: "font-medium";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: "font-light";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Light.ttf);
}
@font-face {
  font-family: "font-regular";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Regular.ttf);
}
