/* === BASE COLOR === */
:root {
  --clr-pink: #eb2f96;
  --clr-ungu: #7b61ff;
  --clr-biru: #2f54eb;
  --clr-hijau: #52c41a;
  --clr-bg-pink: #fff9fb;
  --clr-bg-ungu: #fcfafd;
  --clr-bg-biru: #f7faff;
  --clr-bg-hijau: #f8fef1;
}

/* === BASE STYLE === */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "font-regular";
}

/* === BASE FONT === */
/* === BASE FONTS === */
@font-face {
  font-family: "font-black";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Black.ttf);
}
@font-face {
  font-family: "font-xbold";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "font-bold";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
  font-family: "font-medium";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Medium.ttf);
}
@font-face {
  font-family: "font-light";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Light.ttf);
}
@font-face {
  font-family: "font-regular";
  src: local("Rubik"), url(./fonts/Rubik/static/Rubik-Regular.ttf);
}
